<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Account Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="stylesheet" href="https://cdn.cloudwares.com/css/webfonts.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <script src="{{ url_for('static', filename='time.js') }}"></script>
</head>
<body>
    <header>   
        
        <div class="logo">Gozzylinkx Energy Resources - BestOneGas Petroleum & Dist Co./div>   
        <!-- Navigation menu-->
                <div class="menu-toggle">
                    <div class="bar"></div>
                    <div class="bar"></div>
                    <div class="bar"></div>
                </div>
        
                <nav class="navmenu">
                    <ul>
                        
                       <li><a href="/">Home</a></li> 
                       <li><a href="/underground_tanks">Tank Dipping</a></li>
                        <li><a href="/pump_sales">Pump Sales</a></li>
                        <li><a href="/revenue">Revenue Management</a></li>
                        <li><a href="/bar">Bar/Restaurant</a></li>
                        <li><a href="/reports">Reports</a></li>
                    
                    </ul>
                        
                </nav>
                
        </header>
                
    <div class="container-admin">
        <div class="container">
            <h1><p>Admin Login</p></h1>
            <p>You are authorized to access this only as an Admin</p><a href="/admin_login">login as Admin</a>
        </div>
        
    </div>
    <footer>
        <div class="footer-socials">
            
            <a href="https://www.facebook.com/" target="_blank"><i class="fab fa-facebook"></i></a>
            <a href="https://www.twitter.com/" target="_blank"><i class="fab fa-twitter"></i></a>
            <a href="https://www.instagram.com/" target="_blank"><i class="fab fa-instagram"></i></a>
            <a href="https://www.linkedin.com/" target="_blank"><i class="fab fa-linkedin"></i></a>
            
        </div>
        <div class="copyright">
            <p>copyright &copy;2024 <a href="#">Gozzylinkx Energy Resources - BestOneGas Petroleum & Dist Co. All Rights Reserved.</a></p>
        </div>
        <div class="power">
            <p style="color: aliceblue;">Powered By PlimsolTech</p>
        </div>
    </footer>
</body>
    <script src="/static/toggle.js"></script>
    <script src="/static/time.js"></script>
</html>

    
