<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header>   
        
        <div class="logo">BEST 0NE GAS & PET CO </div>   
        <!-- Navigation menu-->
                <div class="menu-toggle">
                    <div class="bar"></div>
                    <div class="bar"></div>
                    <div class="bar"></div>
                </div>
        
                <nav class="navmenu">
                    <ul>
                        
                       <li><a href="/">Home</a></li> 
                       <li><a href="/tanks">Tanks</a></li>
                        <li><a href="/pump_sales">Sales</a></li>
                        <li><a href="revenue.html">Revenue</a></li>
                        <li><a href="bar.html">Bar</a></li>
                    
                    </ul>
                        
                </nav>
                
        </header>
    <div class="container">
        <h3>Welcome, {{ session['username'] }}!</h3>
        <p style="text-align: justify;">Please  {{ session['username'] }}, this is a sensored zone, Changes you make through this dashboard can always be traced to you, kindly ensure all enteries are correct</p>
        
        <h4>Dashboard<h4>

        <div class="dashboard">
            <div class="dashboard_item">
                <p>Pump Sales</p>
            </div>

            <div class="dashboard_item">
                <p>Underground Tanks</p>
            </div>

            <div class="dashboard_item">
                <p>Revenue</p>
            </div>

            <div class="dashboard_item">
                <p>Restaurant & Bar</p>
            </div>

        </div>
        <div>
                    <a href="{{ url_for('logout') }}">Logout</a>
    </div>
</div>
<footer>
    <div class="copyright">
        <p>copyright &copy;2024 <a href="#">BEST ONE GAS: All Rights Reserved</a></p>
    </div>
    <div class="power">
        <p style="color: aliceblue;">Powered By PlimsolTech</p>
    </div>
</footer>
    
</body>
<script src="/static/toggle.js"></script>
    <script src="/static/time.js"></script>
</html>
