<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Remove User</title><link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="stylesheet" href="https://cdn.cloudwares.com/css/webfonts.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <script src="{{ url_for('static', filename='time.js') }}"></script>

</head>
<body> <header>   
        
    <div class="logo">BEST 0NE GAS & PET CO</div>   
    <!-- Navigation menu-->
            <div class="menu-toggle">
                <div class="bar"></div>
                <div class="bar"></div>
                <div class="bar"></div>
            </div>
    
            <nav class="navmenu">
                <ul>
                    
                   <li><a href="/">Home</a></li> 
                   <li><a href="/tanks">Tanks</a></li>
                    <li><a href="metre.html">Sales</a></li>
                    <li><a href="revenue.html">Revenue</a></li>
                    <li><a href="bar.html">Bar</a></li>
                
                </ul>
                    
            </nav>
            
    </header>
    <div class="container">
        <h2>Remove User Account</h2>
    
        <form action="{{ url_for('remove_user') }}" method="POST">
            <div class="form-group">
    
            <label for="username">Select User to Remove:</label>
            <select id="username" name="username">
                {% for user in users %}
                <option value="{{ user }}">{{ user }}</option>
                {% endfor %}
            </select>
            <button type="submit">Remove User</button>
        </div>
    
        </form>

    </div>

    

    <footer>
        <div class="copyright">
            <p>copyright &copy;2024 <a href="#">BEST ONE GAS: All Rights Reserved</a></p>
        </div>
        <div class="power">
            <p style="color: aliceblue;">Powered By PlimsolTech</p>
        </div>
    </footer>

</body><script src="/static/toggle.js"></script>
<script src="/static/time.js"></script>

</html>
