<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tank Ullage</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body> 
    <header>   
        
        <div class="logo">Gozzylinkx Energy Resources - BestOneGas Petroleum & Dist Co.</div>   
        <!-- Navigation menu-->
                <div class="menu-toggle">
                    <div class="bar"></div>
                    <div class="bar"></div>
                    <div class="bar"></div>
                </div>
                <nav class="navmenu">
                    <ul>
                        
                       <li><a href="/">Home</a></li> 
                       <li><a href="/underground_tanks">Tank Dipping</a></li>
                        <li><a href="/pump_sales">Pump Sales</a></li>
                        <li><a href="/revenue">Revenue Management</a></li>
                        <li><a href="/bar">Bar/Restaurant</a></li>
                        <li><a href="/reports">Reports</a></li>
                    
                    </ul>
                        
                </nav>
                
        </header>
    <div class="container">
        <ul>
            <li><a href="/underground_tanks/stock_update">Stock Update</a></li>
            <li><a href="/stock_position">Stock Position</a></li>
        </ul>
    </div>

    

    <footer>
        <div class="footer-socials">
            
            <a href="https://www.facebook.com/" target="_blank"><i class="fab fa-facebook"></i></a>
            <a href="https://www.twitter.com/" target="_blank"><i class="fab fa-twitter"></i></a>
            <a href="https://www.instagram.com/" target="_blank"><i class="fab fa-instagram"></i></a>
            <a href="https://www.linkedin.com/" target="_blank"><i class="fab fa-linkedin"></i></a>
            
        </div>
        <div class="copyright">
            <p>copyright &copy;2024 <a href="#">Gozzylinkx Energy Resources - BestOneGas Petroleum & Dist Co. All Rights Reserved</a></p>
        </div>
        <div class="power">
            <p style="color: aliceblue;">Powered By PlimsolTech</p>
        </div>
    </footer>

    
</body>

<script src="/static/toggle.js"></script>
<script src="/static/time.js"></script>
</html>
