<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tank Ullage</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body> 
    <header>   
        
    <div class="logo">BEST 0NE GAS</div>   
    <!-- Navigation menu-->
            <div class="menu-toggle">
                <div class="bar"></div>
                <div class="bar"></div>
                <div class="bar"></div>
            </div>
    
            <nav class="navmenu">
                <ul>
                    
                   <li><a href="/">Home</a></li> 
                   <li><a href="/tanks">Tanks</a></li>
                    <li><a href="/pump_sales">Sales</a></li>
                    <li><a href="revenue.html">Revenue</a></li>
                    <li><a href="bar.html">Bar</a></li>
                
                </ul>
                    
            </nav>
            
    </header>

    <div class="container">
        <ul>
            <li><a href="/tanks/stock_update">Stock Update</a></li>
            <li><a href="/stock_position">Stock Position</a></li>
        </ul>
    </div>

    

    <footer>
        <div class="copyright">
            <p>copyright &copy;2024 <a href="#">BEST ONE GAS: All Rights Reserved</a></p>
        </div>
        <div class="power">
            <p style="color: aliceblue;">Powered By PlimsolTech</p>
        </div>
    </footer>

    
</body>

<script src="/static/toggle.js"></script>
<script src="/static/time.js"></script>
</html>
